html {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #ffffff;
  outline: none;
}

body {
  margin: 0;
  padding: 1rem;
  background-color: #000000;
}

input,
textarea,
button {
  font-family: "Helvetica", "Arial", sans-serif;
}
